body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.createCardSection {
  display: flex;
  
}

label {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.section-form, .previewCard {
  width: 50%;
  height: 1000px;
  display: flex;
  justify-content: center;
  background-color: #f5f2fa
  ;
}

.Card {
  border: 7px solid rgb(230, 230, 230);
  border-radius: 10px;
  width: 400px;
  height: 600px;
  background-image: url("https://i.pinimg.com/474x/ce/14/8b/ce148ba0f178ce21060f580660fd816f.jpg");
	background-size: cover;
  margin: auto;
}

form {
  margin: auto;
}

label {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Input{
  height: 40px;
  font-size: 25px;
  color: indigo;
  font-weight: bold;
  font-style: oblique;
  border: 1px solid gray;
}

.previewCard {
background-color: #f4b355;
margin: auto ;
}

.attr-section label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#attr1-id, #attr2-id, #attr3-id {
  width: 80%;
}

#imageDiv {
  margin: 0 auto 0;
  width: 80%;
  height: 50%;
  border: 4px solid #f5f2fa ;
  border-top: none;
  border-bottom: none;
  background-color: #5E3DA4;
}

img {
  width: 100%;
  height: 100%;
}

#nameDiv {
  margin: 15px auto 0;
  border: 4px solid #f5f2fa ;
  border-bottom: none;
  width: 80%;
  height: 40px;
  background-color:#934792;
  border-radius: 10px 10px 0 0;
  font-size: 20px;
  font-weight: bolder;
  color: #f5f2fa;
}

#descriptionDiv {
  width: 80%;
  margin: 0 auto 0;
  height: 20%;
  color: #f5f2fa;
  font-weight: bold;
  background-color:#934792;
  text-align: center;
  font-size: 15px;
  border: 4px solid #f5f2fa ;
  border-top: none;
  border-bottom: none;
  padding-top: 10px;
}
#descriptionDiv p {
margin-top: 0;
}

#atrrDiv {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto 0;
  border: 4px solid #f5f2fa;
  background-color:#934792;
  border-top: none;
}

.attrBorder {
  display: flex;
  border: 1px dotted #f5f2fa;
}